@font-face {
    font-family: 'baemin';
    src: url('../fonts/baemin.ttf') format('truetype');
}

@font-face {
    font-family: 'baemin-sub';
    src: url('../fonts/baemin-sub.ttf') format('truetype');
}

@font-face {
    font-family: 'nanum';
    src: url('../fonts/nanum.ttf') format('truetype');
}

.logo-text {
    color: white;
    font-size: 37px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

#poor-developer-main-text{
    color: white;
    font-family: 'baemin';
}
#poor-developer-main-sub-text{
    color: orange;    
    font-family: 'baemin';
}

#poor-developer-sub-text p{
    color: white;
    font-family: 'baemin-sub';
    font-size: 3rem;
    
    padding: 10px;
}
#heart{
    color: pink;
    font-family: 'baemin-sub';
    font-size: 3rem;        
}
#jab{
    color: greenyellow;
    font-family: 'baemin-sub';
    font-size: 3rem;        
}

.row-flex-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    width: 80%;
}

.column-flex-box {
    display: flex;
    justify-content: space;
    align-items: center;
    flex-direction: column;
    
}

.tech-icon {    
    height: 120px;
    transition: all 0.3s ease;    
}
.tech-icon:hover {
    filter: opacity(30%);        
}

.design-icon {    
    height: 120px;    
}

#like-these {
    margin-bottom: 0px;
}

#poor-these {
    margin-top: 100px;
    margin-bottom: 0px;
}

#reference-info {
    margin-top: 50px;
}

.horizontal-line {
    border-top: 2px solid #c8c8c8; /* 수평선 스타일 및 색상 설정 */
    width: 70%; /* 수평선의 너비를 요소의 100%로 설정 (가로 전체) */
    margin-bottom: 30px; /* 위아래 여백 설정 */
  }
  
  .nanum {
    font-family: 'nanum';
  }